{% extends 'layout.html.twig' %}

{% block body %}

    <h1>Привет, мир!</h1>
    <p>Так, ладно, Bootstrap тащить через Composer не будем, просто сошлёмся на CDN.</p>

    <h2>Что у нас тут есть</h2>
    <ul>
        <li><a href="{{ path('fos_user_security_login') }}">/login</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">/register</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">/profile/</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}">/profile/edit</a></li>
        <li><a href="{{ path('fos_user_change_password') }}">/profile/change-password</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}">/logout</a></li>
    </ul>

{% endblock %}
